<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Become</title>
		<link rel="apple-touch-icon" href="/static/icons/touch-icon-iphone.png" /> 
		<link rel="apple-touch-icon" sizes="76x76" href="/static/icons/touch-icon-ipad.png" /> 
		<link rel="apple-touch-icon" sizes="120x120" href="/static/icons/touch-icon-iphone-retina.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/touch-icon-ipad-retina.png" />
		<link rel="shortcut icon" type="image/x-icon" href="/static/icons/favicon.ico" />
		<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css" />
		
		<link rel="stylesheet" href="/static/fonts/pe-icon-set-interface/css/helper.css">
		<link rel="stylesheet" href="/static/fonts/pe-icon-set-interface/css/Pe-icon-set-interface.css">
		<link rel="stylesheet" href="/static/fonts/pe-icon-set-social-people/css/pe-icon-set-social-people.css">

		<link rel="stylesheet" href="/static/css/font-awesome-4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="/static/css/helper.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
	</head>
	<body>
		{% block content %}{% endblock content %}
		<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
	</body>
</html>