{% extends "master.html" %}
{% block content %}
	{% include 'controls/header.html' %}
	<div class="wrapper">
		{% include 'controls/menu.html' %}
		<section class="content">
			<header class="main-header clearfix">
				<h1 class="main-header__title">
					<i class="pe-is-sp-fire"></i>
					{{client.client_name}} <small> ( {{client.type.name}} )</small>
				</h1>
			</header>
			<div class="row">
				<div>
					<article class="widget widget--tabbed">
						<div class="tabs">
							<input type="radio" name="t" id="tab1" checked="">
							<label for="tab1" class="tabs__tab">Facturas en proceso</label>
							<input type="radio" name="t" id="tab2">
							<label for="tab2" class="tabs__tab">Facturas enviadas</label>
							<input type="radio" name="t" id="tab3">
							<label for="tab3" class="tabs__tab">Facturas pagadas</label>
							<input type="radio" name="t" id="tab4">
							<label for="tab4" class="tabs__tab">Contratos</label>
							<div class="tabs__content" style="height: 900px;">
								<div class="tabs__content--1">
									<a class="btn btn-green btn-lg" href="invoice/create/" style="width:100%; margin:0; border-radius:0;">Crear una nueva factura</a>
									<div class="media social_msg">
										<figure class="pull-left rounded-image social_msg__img">
											<img class="media-object" src="/static/images/thumb1.jpg" alt="user">
										</figure>
										<div class="media-body">
											<h4 class="media-heading social_msg__heading">Victoria Campel <span>from</span> <span>twitter</span></h4>
											<p class="social_msg__msg">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
											<small class="social_msg__meta">6 hours ago</small>
										</div>
									</div> <!-- /social-msg -->
									<div class="media social_msg">
										<figure class="pull-left rounded-image social_msg__img">
											<img class="media-object" src="/static/images/thumb2.jpg" alt="user">
										</figure>
										<div class="media-body">
											<h4 class="media-heading social_msg__heading">Joseph Lewis <span>from</span> <span>facebook</span> <i class="pe-7s-link"></i></h4>
											<p class="social_msg__msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											<hr>
											<p class="social_msg__meta--alt">Attachment</p>
											<div class="media attachment_msg">
												<figure class="pull-left">
													<img class="media-object" src="/static/images/thu.png" alt="user">
												</figure>
												<div class="media-body msg_attach">
													<p class="social_msg__msg attach_name">Image-sample.jpg</p>
													<p class="attach_kb">560 KB</p>
													<a href="#" class="attach_links">View</a><a href="#" class="attach_links">Download</a>
												</div>
											</div> <!-- /Attachment -->
											<small class="social_msg__meta">26 Dec, 2013</small>
										</div>
									</div> <!-- /social-msg -->
									<div class="social_msg__reply">
										<input type="text" placeholder="Click here to Reply...">
									</div>

								</div> <!-- /tabs__content 1 -->

								<div class="tabs__content--2">
									<div class="media social_msg">
										<figure class="pull-left rounded-image social_msg__img">
											<img class="media-object" src="/static/images/thumb2.jpg" alt="user">
										</figure>
										<div class="media-body">
											<h4 class="media-heading social_msg__heading">Joseph Lewis <span>from</span> <span>facebook</span></h4>
											<p class="social_msg__msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											<hr>
											<p class="social_msg__meta--alt">Attachment</p>
											<div class="media">
												<figure class="pull-left">
													<img class="media-object" src="/static/images/thu.png" alt="user">
												</figure>
												<div class="media-body msg_attach">
													<p class="social_msg__msg attach_name">Image-sample.jpg</p>
													<p class="attach_kb">560 KB</p>
													<a href="#" class="attach_links">View</a><a href="#" class="attach_links">Download</a>
												</div>
											</div> <!-- /Attachment -->
											<small class="social_msg__meta">26 Dec, 2013</small>
										</div>
									</div> <!-- /social-msg -->
									<div class="social_msg__reply">
										<input type="text" placeholder="Click here to Reply...">
									</div>
								</div> <!-- /tabs__content 2 -->
								
								<div class="tabs__content--3">
									<div class="media social_msg">
										<figure class="pull-left rounded-image social_msg__img">
											<img class="media-object" src="/static/images/thumb1.jpg" alt="user">
										</figure>
										<div class="media-body">
											<h4 class="media-heading social_msg__heading">Victoria Campel <span>from</span> <span>twitter</span></h4>
											<p class="social_msg__msg">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
											<small class="social_msg__meta">6 hours ago</small>
										</div>
									</div> <!-- /social-msg -->
									<div class="social_msg__reply">
										<input type="text" placeholder="Click here to Reply...">
									</div>
								</div> <!-- /tabs__content 3 -->

								<div class="tabs__content--4">
									<a class="btn btn-violet btn-lg" href="contract/create/" style="width:100%; margin:0; border-radius:0;">Crear una nuevo contrato </a>

									{% for contract in organization.contracts.all %}
										<div class="media social_msg">
											<div class="media-body">
												<h4 class="media-heading social_msg__heading">{{contract.name}} <span>{{contract.owner.first_name}} {{contract.owner.last_name}}</span></h4>
												<p class="social_msg__msg">{{contract.description}}</p>
												{% if contract.contract_file %}
													<hr>
													<p class="social_msg__meta--alt" style="margin-bottom:5px;">Adjunto</p>
													<div class="media">
														<figure class="pull-left">
															<img class="media-object" src="/static/images/thu.png" alt="user">
														</figure>
														<div class="media-body msg_attach">
															<p class="social_msg__msg attach_name">Contract</p>
															<p class="attach_kb">{{contract.contract_file.size}} bytes</p>
															<a target="_blank" href="{{contract.contract_file.url}}" class="attach_links">Download</a>
														</div>
													</div> <!-- /Attachment -->
												{% endif %}
											</div>
										</div> <!-- /social-msg -->
									{% endfor %}
								</div> <!-- /tabs__content 2 -->
								
							</div> <!-- /tabs__content CONTAINER -->

						</div> <!-- /widget__tabs -->

					</article>
				</div>


			</div>
	</section> <!-- /content -->
</div> <!-- /wrapper -->

{% endblock content%}