{% extends "master.html" %}
{% block content %}
	{% include 'controls/header.html' %}
	<div class="wrapper">
		{% include 'controls/menu.html' %}
		<section class="content">
			<header class="main-header clearfix">
				<h1 class="main-header__title">
					<i class="pe-is-sp-fire"></i>
					{{client.client_name}} <small> ( {{client.type.name}} )</small>
				</h1>
			</header>
			<div class="row">
				<div>
					<article class="widget widget--tabbed">
						<div class="tabs">
							<input type="radio" name="t" id="tab1" checked="">
							<label for="tab1" class="tabs__tab">Facturas en proceso</label>
							<input type="radio" name="t" id="tab2">
							<label for="tab2" class="tabs__tab">Facturas enviadas</label>
							<input type="radio" name="t" id="tab3">
							<label for="tab3" class="tabs__tab">Facturas pagadas</label>
							<input type="radio" name="t" id="tab4">
							<label for="tab4" class="tabs__tab">Contratos</label>
							<div class="tabs__content" style="height: 900px;">
								<div class="tabs__content--1">
									<a class="btn btn-green btn-lg" href="invoice/create/" style="width:100%; margin:0; border-radius:0;">Crear una nueva factura</a>

									{% for invoice in organization.invoices.all %}
										{% if invoice.status.pk = 1 %}
											<div class="media social_msg">
												<figure class="pull-left rounded-image social_msg__img">
													<span style="font-size: 3em; margin: 10px 0 0 10px;" class="pe-is-i-next-circle"></span>
												</figure>
												<div class="media-body">
													<h4 class="media-heading social_msg__heading">Factura de venta <span>por:</span> <span>${{invoice.value}}</span></h4>
													<p class="social_msg__msg">{{invoice.description}}</p>
													<p class="social_msg__msg">Impuesto tasado por venta: {{invoice.sales_tax}}%</p>
													<hr>
													<p class="social_msg__meta--alt">Adjunto</p>
													<div class="media">
														<figure class="pull-left">
															<span style="font-size: 3em; margin: 10px 0 0 10px; color:gray;" class="pe-is-a-file-table"></span>
														</figure>
														<div class="media-body msg_attach">
															<p class="social_msg__msg attach_name" style="margin-top:5px;">{{invoice.client.file_name}}.pdf</p>
															<a href="view/{{invoice.id}}/" target="_blank" class="attach_links">Ver factura</a>
														</div>
													</div> <!-- /Attachment -->
													<small class="social_msg__meta">Creado por {{invoice.owner.first_name}} {{invoice.owner.last_name}}</small>
												</div>
											</div> <!-- /social-msg -->
										{% endif %}
									{% endfor %}
									<div class="social_msg__reply">
										<input type="text" placeholder="Click here to Reply...">
									</div>

								</div> <!-- /tabs__content 1 -->

								<div class="tabs__content--2">
									{% for invoice in organization.invoices.all %}
										{% if invoice.status.pk = 2 %}
											<div class="media social_msg">
												<figure class="pull-left rounded-image social_msg__img">
													<span style="font-size: 3em; margin: 10px 0 0 10px;" class="pe-is-i-next-circle"></span>
												</figure>
												<div class="media-body">
													<h4 class="media-heading social_msg__heading">Factura de venta <span>por:</span> <span>${{invoice.value}}</span></h4>
													<p class="social_msg__msg">{{invoice.description}}</p>
													<p class="social_msg__msg">Impuesto tasado por venta: {{invoice.sales_tax}}%</p>
													<hr>
													<p class="social_msg__meta--alt">Adjunto</p>
													<div class="media">
														<figure class="pull-left">
															<span style="font-size: 3em; margin: 10px 0 0 10px; color:gray;" class="pe-is-a-file-table"></span>
														</figure>
														<div class="media-body msg_attach">
															<p class="social_msg__msg attach_name" style="margin-top:5px;">{{invoice.client.file_name}}.pdf</p>
															<a href="#" class="attach_links">Ver factura</a>
														</div>
													</div> <!-- /Attachment -->
													<small class="social_msg__meta">Creado por {{invoice.owner.first_name}} {{invoice.owner.last_name}}</small>
												</div>
											</div> <!-- /social-msg -->
										{% endif %}
									{% endfor %}
									<div class="social_msg__reply">
										<input type="text" placeholder="Click here to Reply...">
									</div>
								</div> <!-- /tabs__content 2 -->
								
								<div class="tabs__content--3">
									{% for invoice in organization.invoices.all %}
										{% if invoice.status.pk = 3 %}
											<div class="media social_msg">
												<figure class="pull-left rounded-image social_msg__img">
													<span style="font-size: 3em; margin: 10px 0 0 10px;" class="pe-is-i-next-circle"></span>
												</figure>
												<div class="media-body">
													<h4 class="media-heading social_msg__heading">Factura de venta <span>por:</span> <span>${{invoice.value}}</span></h4>
													<p class="social_msg__msg">{{invoice.description}}</p>
													<p class="social_msg__msg">Impuesto tasado por venta: {{invoice.sales_tax}}%</p>
													<hr>
													<p class="social_msg__meta--alt">Adjunto</p>
													<div class="media">
														<figure class="pull-left">
															<span style="font-size: 3em; margin: 10px 0 0 10px; color:gray;" class="pe-is-a-file-table"></span>
														</figure>
														<div class="media-body msg_attach">
															<p class="social_msg__msg attach_name" style="margin-top:5px;">{{invoice.client.file_name}}.pdf</p>
															<a href="#" class="attach_links">Ver factura</a>
														</div>
													</div> <!-- /Attachment -->
													<small class="social_msg__meta">Creado por {{invoice.owner.first_name}} {{invoice.owner.last_name}}</small>
												</div>
											</div> <!-- /social-msg -->
										{% endif %}
									{% endfor %}
									<div class="social_msg__reply">
										<input type="text" placeholder="Click here to Reply...">
									</div>
								</div> <!-- /tabs__content 3 -->

								<div class="tabs__content--4">
									<a class="btn btn-violet btn-lg" href="contract/create/" style="width:100%; margin:0; border-radius:0;">Crear una nuevo contrato </a>

									{% for contract in organization.contracts.all %}
										<div class="media social_msg">
											<div class="media-body">
												<h4 class="media-heading social_msg__heading">{{contract.name}} <span>{{contract.owner.first_name}} {{contract.owner.last_name}}</span></h4>
												<p class="social_msg__msg">{{contract.description}}</p>
												{% if contract.contract_file %}
													<hr>
													<p class="social_msg__meta--alt" style="margin-bottom:5px;">Adjunto</p>
													<div class="media">
														<figure class="pull-left">
															<span style="font-size: 3em; margin: 10px 0 0 10px; color:gray;" class="pe-is-a-file-clip"></span>
														</figure>
														<div class="media-body msg_attach">
															<p class="social_msg__msg attach_name">Contrato</p>
															<p class="attach_kb">{{contract.contract_file.size}} bytes</p>
															<a target="_blank" href="{{contract.contract_file.url}}" class="attach_links">Descargar</a>
														</div>
													</div> <!-- /Attachment -->
												{% endif %}
											</div>
										</div> <!-- /social-msg -->
									{% endfor %}
								</div> <!-- /tabs__content 2 -->
								
							</div> <!-- /tabs__content CONTAINER -->

						</div> <!-- /widget__tabs -->

					</article>
				</div>


			</div>
	</section> <!-- /content -->
</div> <!-- /wrapper -->

{% endblock content%}