{% extends "master.html" %}
{% block content %}
	{% include 'controls/header.html' %}
	<div class="wrapper">
		{% include 'controls/menu.html' %}
		<section class="content">
			<header class="main-header clearfix">
				<h1 class="main-header__title">
					Crear nueva factura <small>{{client.client_name}}</small>
				</h1>
			</header>
		<div class="row">
			<div class="col-md-12">
				<article class="widget">
					<header class="widget__header">
						<h3 class="widget__title">Crear factura</h3>
					</header>
					<form method="post" autocomplete="off">
						{% csrf_token %}
						<div class="widget__content">
							<input type="text" name="value" class="input-text" placeholder="Valor de la factura" />
							<input type="text" name="sales_tax" class="input-text" placeholder="Impuesto a la venta" />
							<textarea class="textarea" name="description" rows="6" placeholder="Notas sobre la factura"></textarea>
							<div class="dropdown" style="margin:0 0 10px 0;">
								<select name="contract" class="dropdown-select">
									<option value="">Seleccione un contrato</option>
									{% for contract in organizations.0.contracts.all %}
										{% if client.id == contract.client.id %}
											<option value="{{contract.id}}">{{contract.name}}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<button class="btn btn-skyblue btn-lg" type="submit" style="width:100%; margin:0;">Crear</button>
							<div class="clearfix"></div>
						</div>
					</form>
				</article>
			</div>
		</div>
	</section> <!-- /content -->
</div> <!-- /wrapper -->

{% endblock content%}