	<header class="top-bar">
		<a class="mobile-nav" href="#"><i class="pe-7s-menu"></i></a>
		<div class="main-logo">{{organizations.0.name}} <span>{{organizations.0.society_name}}</span></div>
		<input type="checkbox" id="s-logo" class="sw" />
		<label class="switch switch--dark switch--header" for="s-logo"></label>

		<div class="main-search">
			<input type="text" placeholder="Buscar Facturas, Clientes y Contratos" id="msearch">
			<label for="msearch">
				<i class="pe-is-i-search"></i>
			</label>
		</div>
		<ul class="profile">
			<li>
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;" class="profile__user">
					<figure class="pull-left rounded-image profile__img">
						<img class="media-object" src="{{member.photo.url}}" alt="user">
					</figure>
					<span class="profile__name"> 
						{{member.first_name}} <span>{{member.last_name}}</span> <i class="pe-7s-angle-down"></i>
					</span>
				</a>
				<ul class="dropdown-menu pull-right">
					<li><a href="/logout/"><i class="icon pe-7s-close-circle"></i> Cerrar sesión</a></li>
				</ul>
			</li>
			<li class="profile--higlighted">
				<span class="badge profile__badge badge--red">8</span>
				<a class="dropdown-toggle" data-toggle="dropdown" onclick="return false;" href="#">
					<i class="pe-is-sp-user-1"></i>
				</a>
				<ul class="dropdown-menu pull-right">
					<li><a href="#"><i class="icon pe-7s-mail"></i> You have 8 unread messages</a></li>
				</ul>
			</li>
			<li class="profile--higlighted">
				<span class="badge profile__badge badge--red">5</span>
				<a class="dropdown-toggle" data-toggle="dropdown" onclick="return false;" href="#">
					<i class="pe-is-sp-flag-2"></i>
				</a>
				<ul class="dropdown-menu pull-right">
					<li><a href="#"><i class="icon pe-7s-drawer"></i> You have 5 new notifications</a></li>
				</ul>
			</li>
		</ul>

	</header> <!-- /top-bar -->